


*{
    box-sizing: border-box;
 }

.header{ 
    border: 1px aquamarine;
    padding: 15px;
}
.intro { 
    width: 25%;
    float:left;
    padding: 15px;
    border: 1px black;
}

.Chunk { 
    width: 75%;
    float: left;
    padding: 15px;
    border: 1px black;
}

